h1, p {
    font-family: Sans-Serif ;
    color: white;


}
h5{
  font-family: Sans-Serif ;
  color: white;


}
body {
  background-color: lightblue;
  font-family: Sans-Serif ;
}

h1 {
  color: white;
  font-family: Sans-Serif ;

}

button {
    background-color: pink;
    border-style: solid;
    border-color: cyan;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    font-family: Sans-Serif ;
}
